<body class="pt-2">
  <div class="container pb-4">
    <div class="card paginabg">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-6">
            <img src="../../assets/logo.png" class="img-fluid pt-4 img" alt="Sample image">
          </div>
          <div class="col-12 col-md-6">
            <form (submit)="submit()" [formGroup]="formUsuario" #ngForm="ngForm" role="formUsuario">
              <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start mt-3">
                <p class="lead fw-normal mb-0 me-3 color-texto">Inicia sesión</p>
              </div>


              <div class="form-outline mb-4 mt-4">
                <label class="form-label color-texto" for="form3Example3">Correo</label>
                <input type="email" id="form3Example3" class="form-control form-control-lg"
                  placeholder="Ingresa una direccion de email" formControlName="correo" />
                <div *ngIf="getControl('correo').invalid && ngForm.submitted" class="text-right">
                  <label class="text-pink text-xs text-danger">Correo electrónico es requerido o invalido</label>
                </div>
              </div>

              <div class="form-outline mb-3">
                <label class="form-label color-texto" for="form3Example4">Contraseña</label>
                <input type="password" id="form3Example4" class="form-control form-control-lg"
                  placeholder="Ingresa una contraseña" formControlName="contrasena" />
                <div *ngIf="getControl('contrasena').invalid && ngForm.submitted" class="text-right">
                  <label class="text-pink text-xs text-danger">Contraseña es requerida o invalida</label>
                </div>
              </div>

              <div class="text-center text-lg-start mt-4 pt-2">
                <button type="submit" class="btn btn-primary btn-custom btn-lg"
                  style="padding-left: 2.5rem; padding-right: 2.5rem;">Iniciar
                  sesión</button>
                <p class="small text-white fw-bold mt-2 pt-1 mb-0">
                  ¿No tienes cuenta?
                  <a routerLink="/auth/register" class="link-danger">Registarse</a>
                </p>
              </div>
            </form>
          </div>

        </div>

        <!-- FOOTER -->
        <div class="card-footer col-12">
          <div
            class="d-flex flex-column flex-md-row footer-bg text-center text-md-start justify-content-between py-4 px-4 px-xl-5">
            <div class="text-white mb-3 mb-md-0">
              Creado para el Colegio Manuel Maria Mallarino Copyright &copy; 2022
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
