body {
    background-color: #27275f !important; }
.form-control { margin-bottom: 10px; }

.bg-principal {
    background-color: #1D1D42 !important;
  }
  
  .color-texto {
    color: #FFFFFF !important;
  }
  
  .bg-iconos {
   color: #6FCF97;
  }
  .bg-iconos-2 {
    color: #FFFFFF;
  }
  
  .botones {
    background-color: #4E2ECF !important;
  }
  
  .icono-especial {
    fill: #4E2ECF;
  }
  
  .bhover:hover {
    color: #4E2ECF !important; 
  }
  
  .green {
    background-color: #6FCF97 !important;
  }
  
  .paginabg {
      background-color: #091D42 !important;
  }
  
  .titulo {
    font-family: monospace;
  }